header {
    background-color:rgba(101, 115, 128, 0.411);
    opacity: 10.1;
    color: white;
    margin: 20px;
    height: 200px;
    text-align: center;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url("Trainbg.jpg");
    font-family: Arial, Helvetica, sans-serif;
}
.card-header {
    margin: 10px;
    background-color: rgba(54, 68, 82, 0.411);
}
.card-body {
    margin: 5px;
    background-color: rgba(54, 68, 82, 0.411);
    width: 80%;
    margin: 20px;
    font-size: 18px;

}
.card1 {
    font-size: 32px;
    background-color: rgba(54, 68, 82, 0.411);
    font-weight: bold;
    border: 5cm;
    margin-left: 20px;
    width: 80%;
    color: white;

}
.card2 {
    font-size: 32px;
    background-color: rgba(54, 68, 82, 0.411);
    font-weight: bold;
    margin-left: 20px;
    width: 80%;
    color: white;
}
th, td, label {
    color: white;
    font-size: 20px;
}
#submit {
    font-size: 25px;
}